.summary {
  width: 367px;
  min-height: 400px;
  position: relative;
}

.summary > div {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 80px;
  left: 0;
}

.discountCode {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.discountCodeButton {
  background-color: var(--color-primary-500);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
}

.discountCodeDropdown {
  transition: all 0.15s;
}

.discountCodeDropdown input {
  width: calc(100% - 88px);
  height: 46px;
  border: none;
  border-left: 1px solid var(--color-grey-700);
  border-top: 1px solid var(--color-grey-700);
  border-bottom: 1px solid var(--color-grey-700);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 0 16px;
}

.discountCodeDropdown input:focus {
  outline: 0.3px solid var(--color-grey-700);
}

.discountCodeDropdown button {
  width: 88px;
  height: 46px;
  background-color: var(--color-grey-900);
  border: 1px solid var(--color-grey-900);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: var(--color-grey-100);
}

.discountCodeDropdown button:hover {
  background-color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
  transition: all 0.15s;
}

.summaryLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 28px;
}

.noPrice {
  border-top: 2px solid var(--color-grey-900);
  transform: translateY(5px);
  width: 16px;
}

.summaryLabel hr {
  width: 100%;
  height: 2px;
  background-color: var(--color-grey-300);
  border: none;
  outline: none;
}

.summaryLabel div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.summaryLabel div:nth-child(4) {
  margin-top: 12px;
}

.summaryLabel div p {
  color: var(--color-grey-900);
}

.summaryLabel button {
  margin-top: 52px;
}

.paymentMethods {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 22px;
}

.paymentMethods p {
  color: var(--color-grey-900);
  font-size: var(--font-paragraph-12);
}

.methods {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media only screen and (max-width: 1367px) {
  .summary {
    width: 302px;
  }
}

/* Tablets ----------- */
@media only screen and (max-width: 1224px) {
  .summary {
    width: 100%;
  }
}

/* Tablets ----------- */
@media only screen and (max-width: 1024px) {
}

/* Smartphones ----------- */
@media only screen and (max-width: 992px) {
}

/* Smartphones ----------- */
@media only screen and (max-width: 758px) {
  .summary {
    min-height: 100px;
  }
}

/* Smartphones  */
@media only screen and (max-width: 576px) {
}
