.productContainer {
  display: flex;
  flex-direction: column;
  width: 367px;
  height: 451px;
}

.fullWidthProductContainer {
  width: 100%;
}

.productThumbnailContainer {
  position: relative;
  width: 100%;
  height: 367px;
  object-fit: cover;
}

.productThumbnailContainer span {
  position: relative;
  width: 50px;
  height: 367px;
}

.productThumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.addToFavourites {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productInformations {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0 0 0;
  overflow: hidden;
}

.productPrice {
  font-size: var(--font-heading-4);
  color: var(--color-grey-900);
  font-weight: 700;
  position: relative;
}

.priceDiscounted {
  color: var(--color-discount);
}

.priceDiscounted span {
  font-size: var(--font-paragraph-14);
  color: var(--color-grey-900);
  text-decoration: line-through;
  margin-left: 4px;
  position: absolute;
}

/* Tablets ----------- */
@media only screen and (max-width: 1224px) {

}

/* Tablets ----------- */
@media only screen and (max-width: 1024px) {
  .productContainer {
    width: 307px;
  }
  .productThumbnailContainer {
    width: 307px;
    height: 337px;
  }
  .fullWidthProductContainer {
    width: 100%;
  }
  .fullWidthProductContainer .productThumbnailContainer {
    width: 100%;
  }
}

/* Smartphones ----------- */
@media only screen and (max-width: 992px) {
}

/* Smartphones ----------- */
@media only screen and (max-width: 758px) {
  .fullWidthProductContainer {
    height: 401px;
  }
  .fullWidthProductContainer .productThumbnailContainer {
    height: 300px;
  }
}

/* Smartphones  */
@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 460px) {

}
