.categoryDropdownOverlay {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2.5px);
  z-index: 99;
}
.categoryDropdownContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 152px;
  height: 315px;
  background-color: white;
  padding: 12px;
  position: relative;
}

.categoryDropdownContainer::before {
  content: "";
  background-color: transparent;
  width: 100%;
  height: 30px;
  position: absolute;
  top: -30px;
  left: 0;
}

.categorySection {
  width: 200px;
}

.categorySection h5 {
  margin-bottom: 12px;
}

.categorySection ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
