.favouritesSection {
  padding: 68px 0 122px 0;
}

.favouritesHeadingDescription {
  margin-top: 4px;
}

.favouritesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px 18px;
  margin-top: 44px;
}

.noResults {
  margin: 24px 0;
  width: 100%;
  text-align: center;
}

.noResults div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 18px;
  font-size: var(--font-paragraph-18);
  margin-top: 18px;
}

.noResults button {
  margin-top: 0;
}

/* Tablets ----------- */
@media only screen and (max-width: 1224px) {
  .favouritesSection {
    padding: 68px 0 122px 0;
  }
  .favouritesList {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablets ----------- */
@media only screen and (max-width: 1024px) {
  .favouritesSection {
    padding: 68px 0 122px 0;
  }
  .favouritesList {
    gap: 18px 18px;
  }
}

/* Smartphones ----------- */
@media only screen and (max-width: 992px) {
  .noResults div {
    display: flex;
    flex-direction: column;
  }
}

/* Smartphones ----------- */
@media only screen and (max-width: 758px) {
  .favouritesSection {
    padding: 68px 0 38px 0;
  }
}

@media only screen and (max-width: 651px) {
  .favouritesList {
      grid-template-columns: 1fr;
    }
}

/* Smartphones  */
@media only screen and (max-width: 576px) {
}
