.iconMenu {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.iconMenu li {
  position: relative;
}

.numberOfProductsInCart, .numberOfFavouriteProducts {
  width: 17px;
  height: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-500);
  color: var(--color-grey-900);
  font-size: 9.38px;
  font-weight: 700;
  border-radius: 50%;

  position: absolute;
  top: 0;
  right: -4px;
}


/* Tablets ----------- */
@media only screen and (max-width : 1224px) {
  .iconMenu {
    width: 140px;
  }

}

/* Tablets ----------- */
@media only screen and (max-width : 1024px) {
  .iconMenu {
    width: 120px;
  }
}

/* Smartphones ----------- */
@media only screen and (max-width : 992px) {

}

/* Smartphones ----------- */
@media only screen and (max-width : 758px) {

}

/* Smartphones  */
@media only screen and (max-width : 576px) {

}
