.heroSection {
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 60%;
  opacity: 0.95;
  padding: 42px 156px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.heroMainHeading,
.heroSubheading {
  color: var(--color-grey-100);
}

/* Tablets ----------- */
@media only screen and (max-width : 1224px) {
  .heroSection {
    padding: 42px 100px;
  }

}

/* Tablets ----------- */
@media only screen and (max-width : 1024px) {
  .heroSection {
    padding: 42px 56px;
  }
}

/* Smartphones ----------- */
@media only screen and (max-width : 992px) {

}

/* Smartphones ----------- */
@media only screen and (max-width : 758px) {
  .heroSection {
    padding: 42px 28px;
    height: 420px;
  }
}

/* Smartphones  */
@media only screen and (max-width : 576px) {
  .heroSection {
    padding: 42px 12px;
    height: 420px;
  }
}
